$divWidthHeight:500px;

.all-contain {
    width : 100%;
    height: 100%;

    .main-contain {
        width        : $divWidthHeight;
        height       : $divWidthHeight;
        margin       : auto;
        margin-top   : 15%;
        opacity      : 0.5;
        // background: -webkit-linear-gradient(left, red, yellow, lime, aqua, blue);

        .cube {
            position       : relative;
            margin         : 0px auto;
            margin-top     : 25%;
            margin-left    : 32%;
            width          : 200px;
            height         : 200px;
            /* 创造3D效果 */
            transform-style: preserve-3d;
            /* 显示立体效果 */
            transform      : rotateX(-30deg) rotateY(57deg);
            animation      : rotate 15s infinite;

            /* 旋转 */
            @keyframes rotate {
                from {
                    transform: rotateX(0deg) rotateY(0deg);
                }

                to {
                    transform: rotateX(360deg) rotateY(360deg);
                }
            }

            .outer-cube>div {
                position : absolute;
                top      : 0;
                left     : 0;
                width    : 200px;
                height   : 200px;
                font-size: 30px;
                border   : 1px solid red;
                opacity  : 0.3;
            }

            .outer-cube {
                .outer-top {
                    background-color: rgb(236, 32, 17);
                    transform       : rotateX(90deg) translateZ(100px);
                }

                .outer-bottom {
                    background-color: rgb(0, 255, 13);
                    transform       : rotateX(-90deg) translateZ(100px);
                }

                .outer-front {
                    background-color: blue;
                    transform       : rotateY(0deg) translateZ(100px);
                }

                .outer-back {
                    background-color: rgb(231, 228, 28);
                    transform       : translateZ(-100px) rotateY(180deg);
                }

                .outer-left {
                    background-color: rgb(0, 124, 128);
                    transform       : rotateY(90deg) translateZ(100px);
                }

                .outer-right {
                    background-color: rgb(255, 0, 221);
                    transform       : rotateY(-90deg) translateZ(100px);
                }
            }

            .inner-cube>div {
                width   : 130px;
                height  : 130px;
                position: absolute;
                top     : 35px;
                left    : 35px;
            }

            .inner-cube {
                .inner-top {
                    background-color: deepskyblue;
                    transform       : rotateX(90deg) translateZ(65px);
                }

                .inner-bottom {
                    background-color: deepskyblue;
                    transform       : rotateX(-90deg) translateZ(65px);
                }

                .inner-front {
                    background-color: deepskyblue;
                    transform       : rotateY(0deg) translateZ(65px);
                }

                .inner-back {
                    background-color: deepskyblue;
                    transform       : translateZ(-65px) rotateY(180deg);
                }

                .inner-left {
                    background-color: deepskyblue;
                    transform       : rotateY(90deg) translateZ(65px);
                }

                .inner-right {
                    background-color: deepskyblue;
                    transform       : rotateY(-90deg) translateZ(65px);
                }
            }

        }

        .cube:hover {
            &>.outer-cube {
                .outer-top {
                    right    : -70px;
                    bottom   : -70px;
                    width    : 200px;
                    height   : 200px;
                    opacity  : 0.8;
                    transform: rotateX(90deg) translateZ(200px);
                }

                .outer-bottom {
                    right    : -70px;
                    bottom   : -70px;
                    width    : 200px;
                    height   : 200px;
                    opacity  : 0.8;
                    transform: rotateX(-90deg) translateZ(200px);
                }

                .outer-bottom {
                    right    : -70px;
                    bottom   : -70px;
                    width    : 200px;
                    height   : 200px;
                    opacity  : 0.8;
                    transform: rotateX(-90deg) translateZ(200px);
                }

                .outer-front {
                    right    : -70px;
                    bottom   : -70px;
                    width    : 200px;
                    height   : 200px;
                    opacity  : 0.8;
                    transform: rotateY(0deg) translateZ(200px);
                }

                .outer-back {
                    right    : -70px;
                    bottom   : -70px;
                    width    : 200px;
                    height   : 200px;
                    opacity  : 0.8;
                    transform: translateZ(-200px) rotateY(180deg);
                }

                .outer-left {
                    right    : -70px;
                    bottom   : -70px;
                    width    : 200px;
                    height   : 200px;
                    opacity  : 0.8;
                    transform: rotateY(90deg) translateZ(200px);
                }

                .outer-right {
                    right    : -70px;
                    bottom   : -70px;
                    width    : 200px;
                    height   : 200px;
                    opacity  : 0.8;
                    transform: rotateY(-90deg) translateZ(200px);
                }
            }
        }
    }
}






//@mixin 进行声明 多个参数 , 分割
@mixin wd($width) {
    width: $width;
}

@mixin h($height:18px) {
    height: $height
}

.btn {
    // @include进行调用
    background-color: red;
    @include wd(123px);
    @include h; //不传 则默认18px
}

//编译后是 
// .btn {
//     background-color: #ed795a;
//     width           : 32px;
//     height          : 18px;
// }