<div class="all-contain">
    <div class="main-contain">
        <div style="height: 1px;visibility: hidden;">.....</div>
        <div class="cube">
            <!-- 外层立方体 -->
            <div class="outer-cube">
                <div class="outer-top">1</div>
                <div class="outer-bottom">2</div>
                <div class="outer-front">3</div>
                <div class="outer-back">4</div>
                <div class="outer-left">5</div>
                <div class="outer-right">6</div>
            </div>

            <!-- 内层立方体 -->
            <div class="inner-cube">
                <div class="inner-top"></div>
                <div class="inner-bottom"> </div>
                <div class="inner-front"></div>
                <div class="inner-back"></div>
                <div class="inner-left"></div>
                <div class="inner-right"></div>
            </div>
        </div>

    </div>
</div>