<div class="login-contain">
    <div class="login-box">
        <h2>our-travel</h2>
        <!-- <form> -->
        <div class="login-field">
            <input type="text" name="" required="" [(ngModel)]="username" />
            <label>Username</label>
        </div>
        <div class="login-field">
            <input type="password" name="" required="" [(ngModel)]="password" />
            <label>Password</label>
        </div>
        <div class="login-submit">
            <button type="submit" (click)="login()">登陆</button>
            <button type="submit" (click)="username='';password=''">重置</button>
        </div>
        <!-- </form> -->
    </div>
</div>